body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova-soft", sans-serif;
    -webkit-user-select: none;
    overflow: hidden;
}

body .vertical-centered-box {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /*width: 80vw;*/

}

body .vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

body .vertical-centered-box .content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

* {
    transition: all 0.3s;
}

body {
    background: #2c2d44;
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    /*-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));*/
    animation: rotate 1.2s infinite linear;
}

.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    transform: scale3d(0.5, 0.5, 1);
}

#particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.root {
    position: static;
    -webkit-overflow-scrolling: auto;
}

.heading {
    position: relative;
    height: 6vh;
    /*width: 80vw;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45)
}

.logo {
    /*position: absolute;*/
    /*left: 20%;*/
    display: flex;
    flex-direction: row;

}

.logo h3 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin: 0;
    color: white;
    margin-left: 10px;
}

.logo h3 span {
    margin-left: 10px;
    font-size: 15px;
}

.target {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 5%;
    width: 90vw;
    margin: 0 auto;
    position: relative;
    right: 0;
    /*margin: 0;*/
    height: 82vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.65);
    justify-items: center;
    /*border-left: 1px solid rgba(255, 255, 255, 0.45);*/
    /*border-right: 1px solid rgba(255, 255, 255, 0.45);*/
}

.target svg {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.footer {
    position: sticky;
    bottom: 0;
    height: 9vh;
    border-top: 1px solid rgba(255, 255, 255, 0.28);
    background-color: rgba(0, 0, 0, 0.2)
}

.card {
    position: relative;
    padding: 10px;
    width: 80%;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 25px;
    /*text-align: center;*/
    /*align-items:center;*/
    /*justify-items: center;*/
    display: flex;
    flex-wrap: wrap;
}

.card a {
    cursor: pointer;
    width: 23px;
    height: 23px;
    margin-left: 10px;
}

.card a:first-of-type {
    cursor: pointer;
    width: 30px;
    height: 30px;
    /*margin-left: 80px;*/
}

.card h4 {
    padding-left: 20px;
    width: 80px;
}

.card h5 {
    margin-left: 10px;
    padding-top: 5px;
}

.card p {
    width: 70%;
    margin: 0 auto;
}

.card p:first-of-type {
    position: relative;
    margin-bottom: 10px;
}

.card p:first-of-type:after {
    content: "";
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #0052ff;
}

.footer span {
    display: block;
    margin-top: 20px;
}

.buttonWraper {
    position: absolute;
    right: 3%;
    top: 10%;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.79);
    z-index: 100;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*.modal:before {*/
/*    content: "";*/
/*    !*position: absolute;*!*/
/*    top: -55%;*/
/*    left: -50%;*/
/*    width: 1020vw;*/
/*    height: 120vh;*/
/*    background-color: rgba(0, 0, 0, 0.35);*/
/*    !*z-index: 99;*!*/
/*    display: block;*/
/*}*/

.modal img {
    position: absolute;
    right: 5%;
    top: 5%;
}

.title {
    width: 70%;
    display: block;
    height: 50px;
    /*z-index: 101;*/
    background-color: rgba(0, 0, 0, 0.93);
    border-radius:15px;
    color: white;

}

.body {
    /*margin-top: 40px;*/
    width: 70%;
    display: block;
    height: 150px;
    background-color: black;
    border-radius: 15px;
    color: white;
    margin-bottom: 70px;
}
.info-container{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content:space-around;
    position: relative;
    left: -20%;
}
.modal img{
    cursor: pointer;
}
.subm{
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 80px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: white;
}
.create{
    cursor: pointer;
    width: 130px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}