.cardContainerTable{
  padding-top: 100px;
  padding-bottom: 100px;
  width:1200px;
  margin: 0 auto;
}
.cardContainer{
  padding-top: 100px;
  padding-bottom: 100px;
  width:1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}