.modal{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(45, 39, 39, 0.89);
  width: 40%;
  border-radius: 10px;
  color: white;
  max-width: 500px;
  &Backdrop{
  background-color: rgba(44, 45, 68, 0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  &Title{
    background-color: rgba(0, 0, 0, 0.27);
    height: 40px;
    border-radius: 10px 10px 0 0;

    &Text{
      color:white;
      margin: 0;
      padding: 10px 0;
    }
    &Close{
      position: absolute;
      right: 2%;
      top: -2%;
      margin: 0;
      cursor: pointer;
    }
  }
  &Body{
    &Text{
      &Main{

      }
      &Queston{

      }
    }
    &Btn{
      height: 100px;

    }
  }
}
