* {
    padding: 0;
}

/* body {
    background-color: black !important;
    width: 100vw;
    height: 100vh;
    margin: 0;
    ;
} */

canvas {
    display: block;
    overflow: hidden;
    cursor: pointer;
    touch-action: none;
}

/* .container {
    background-color: black;
    width: 100%;
    height: 100%;
} */

.target {
    background-color: black !important;
    color: white;
    height: 100vh;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
}

.buttonFind {
    position: relative;
    width: 20vw;
    height: 10%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: black !important;
    /* z-index: 11111; */
}

.buttonFind:before {
    content: "";
    width: 200px;
    height: 100px;
    background-color: rgb(181, 78, 78, ) !important;
    border-radius: 25px;
    position: absolute;
    z-index: -1;
    /* top: 0; */

}


/* anim */
body {
    margin: 0px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(171, 209, 234, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(171, 209, 234, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(171, 209, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(171, 209, 234, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(171, 209, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(171, 209, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#abd1ea', GradientType=1);





}