.App {
  text-align: center;
  background-image: url("https://www.thewineshop.com/dw/image/v2/BDBC_PRD/on/demandware.static/-/Sites-Cellar360-Library/default/dw186d3686/images/@HorizontalImages/1000x650/1000x650_19C_Snoop_CaliRose_WebsiteBanner_Mech.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat ;
  /*height: 100vh;*/
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*.cardContainer{*/
/*  padding-top: 100px;*/
/*  padding-bottom: 100px;*/
/*  width:1200px;*/
/*  margin: 0 auto;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, 1fr);*/
/*  grid-gap: 20px;*/
/*}*/