
.card{
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgba(222, 168, 167, 0.72);
  text-shadow:0 1px 1px rgba(0,0,0,.4);
  box-shadow:(0 20px 30px rgba(0,0,0,.6));

  // background-repeat:no-repeat;
    // background-size:cover;
    // background-attachment: fixed;
    // position: relative;
    // background: rgba(199, 150, 150, 0.55);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // backdrop-filter: blur(17.5px);
    // -webkit-backdrop-filter: blur(17.5px);
    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.18);
  &Fav{
    width:30px;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  &Img{
    height: 200px;
    margin: 10px;
  }
  &Info{


    &Name{

    }
    &Place{
      margin: 0;
    }
    &Location{

    }
    &Rating{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:center;
      &Average{

      }
      &Reviews{

      }
    }
    &Articul{

    }
  }
}